[Unit]
Description=Weave Network
Documentation=http://docs.weave.works/weave/latest_release/
Requires=docker.service
After=docker.service
[Service]
PermissionsStartOnly=true
EnvironmentFile=/etc/sysconfig/weave
ExecStartPre=/usr/local/bin/weave launch-router $PEERS
ExecStart=/bin/docker attach weave
ExecStop=/usr/local/bin/weave stop-router
[Install]
WantedBy=multi-user.target
